.mydiv{
    background-color: white;
    box-shadow: 0 0px 8px 0.5px rgba(141, 135, 135, 0.25);
    border-color: #4A8BDF;
  width: 100%;
  max-width: 80rem;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 0.8rem;
  height: fit-content;
  justify-self: center;
}
.mydiv .title{
    background-color: #4A8BDF;
    color: aliceblue;
    padding: 1.2rem;
    margin-bottom: auto;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
 }
.parent {
  margin-left: 10px;
    display: flex;
    flex-wrap: wrap;   
    flex-direction: row;
    justify-content: flex-start;
 margin-top: 3rem;
    gap: 5px;
    margin-top: 1rem;
    flex: 1;
    transition: all 1000000000000000000000s;
 
  }
  .myform {
    outline: none;
    padding: 0px;
    margin: 0px;
    margin-right: 1rem;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    height: 2.2rem;
    border: 1px solid #6B6C6D;
    font-family: GraphikThin;
    color:#6B6C6D;
    padding-left: 0.5rem;
   height: 2.5rem;
    border-radius: 7px;
    font-size:110%;
  
  }
  .mylabel {
    margin-bottom: 0px; /* Adjust as needed */
  font-family: "GraphikLight";
  height: 0px;
  flex-shrink: 0;
  margin-left: 0.5rem;
  }
  .myselect {
    outline: none;
    padding: 0px;
    margin: 0px;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    height: 2.5rem;
    border: 2px solid black;
    font-size: 1rem;
    color:#6B6C6D;
    border: 1px solid #6B6C6D;
    border-radius: 7px;
    position: relative;
  }
  .myemail {
    outline: none;
    padding: 0px;
    margin: 0px;
    margin-right: 1rem;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    height: 2.2rem;
    font-family: GraphikThin;
    color:#6B6C6D;
    padding-left: 0.5rem;
   height: 2.5rem;
    border-radius: 7px;
    font-size: 110%;
    border: 1px solid #6B6C6D;
   

  }
  .spanflex{
display: flex;
flex-direction: column;
margin-bottom: 1rem;
margin-top: 0.5rem;
height: 5rem;
width: 33%;
min-width: 23rem;
  }
.myselect .spanreact{
  margin-top: 0;
}
 .buttonflex{
    width: 100%;
    margin-top: auto;

display: flex;
align-items: end;
justify-content: flex-end;
 }
 
.mylist{
 list-style: none;
 display: flex;
}
.mylist li {
 margin: 0px;
padding-left: 15px;
padding-right:15px ;
  color: red;
  /* Add a border with a specific color */
  margin: 0px;
}
.mylist li{
 cursor: pointer;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 }

 .spancolor{
color: red;
margin-left: 5px;
 }
 .spanflex div{
  color: red;
  margin-left: 5px;
  font-size: 0.9rem;
  margin-left: 0.9rem;
  margin-bottom: 0px;
 }
 .disablebutton{
  width: 7rem;
height: 2rem;
font-size: 110%;
border-radius: 7px;
background-color: #75767B;
border:#75767B;
color: aliceblue;
 }


.selectspan{
  margin-left: 1rem;
}
.flexspan{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  height: 5rem;
  gap: 1.4rem;
  width: 33%;
min-width: 23rem;
}
.mybutton{
  background-color:var(--styling1) ;
  color: white;
  margin: 40px 0 20px 0;
  border: 1px solid #6B6C6D;
  border-radius: 7px;
width: 9rem;
height: 2.2rem;
font-family: Graphik;
cursor: pointer;
}
 .mybutton:hover{
  /* color:var(--styling1);
  background-color: white; */
}
 .mybuttonbutton p{
  /* color: #6B6C6D;
  font-family: GraphikThin;
  font-size: 80%; */
}
.container form .button a{
  color:var(--styling1);
  font-size: 100%;
}
.mybutton:disabled{
  background-color: #B8BFC6;
  color: white;
  border: none;
  
  }
.mybutton:disabled:hover{
    background-color: #B8BFC6;
    border: none;
    box-shadow: none;
    cursor: not-allowed;
  }
.mybutton{
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mybutton{
  width: 7rem;
  margin-right: 6rem;
  height: 2rem;
  font-size: 110%;
  border-radius: 7px;
  background-color: #4A8BDF;
  border:#4A8BDF;}
   /* .mybutton:hover{
    background-color: #4A8BDF;
    color: aliceblue;
   cursor: pointer;
   cursor: not-allowed;
   background-color: red;

   } */
   .buttonflex{
      width: 100%;
      margin-top: auto;
      margin-bottom: 0vh;
      margin-right: 2rem;
  display: flex;
  align-items: end;
   }
   @media (max-width: 730px) {

    .parent{
   
    }
    .spanflex{
      width: 100%;
      min-width: 100%;
    }
    .flexspan{
      width: 100%;
      min-width: 100%;
    }
    .buttonflex{
      margin-right: 0px;
    }
    .buttonflex{
      justify-content: center;
      margin-right: 0px;
    justify-items: center;
    }
    .mybutton{
      justify-content: center;
      margin: 0;
    }
  }
  .button:hover{
    background-color:#4A8BDF;
    color: white;
   }
   .button{
    background-color:var(--styling1) ;
    color: white;
    margin: 40px 0 20px 0;
    border: 1px solid #6B6C6D;
    border-radius: 7px;
   width: 9rem;
  height: 2.2rem;
  font-family: Graphik;
   cursor: pointer;
    background-color:#4A8BDF;
    font-size: 100%;
   }
    .button:disabled{
    background-color: #B8BFC6;
    color: white;
    border: none;
    
    }
.button:disabled:hover{
      background-color: #B8BFC6;
      border: none;
      box-shadow: none;
      cursor: not-allowed;
    }
   
