.dropDown {
    display: none;
    width: fit-content;
    position:absolute;
    background-color: #fff;
    z-index: 100;
    border-radius: 4px;
    padding: 6px;
    padding-top: 9px;
    padding-left: 7px;
    width: 9rem;
    text-align: start;
    border-top-right-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .dropDown.active{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .relative{
    position: relative;
  }
  .dropDown span:hover{
    background-color: #d1d2d3;
    display: block;

  }
  .dropDown span{
    cursor: pointer;
  }