:root{
    --mainText:#060640;
    --backGround:#EFFAFD;
    --secondary:#CCE4FB;
    --styling1:#4A8BDF;
    --styling2:#A0006D;
}
.backDrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 12;
    background: rgba(119, 117, 117,0.5);
}
.error{
    display:block;
    position: fixed;
    z-index: 15;
    width: 100%;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    max-width: 40rem; 
}
.main{
    width: 100%;
    background-color: #EFFAFD;
    flex: 1;
    display: flex;
}
.firstContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main *{
    margin: 0;
}
@media (max-width:700px) {
    .error{
        width: 90%;
    }
}