.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}
.container .table{
    height: fit-content;
    background-color: #fff;
    width: 98%;
    border-radius: 9px;
    box-shadow: 0 0px 8px 0.5px rgba(141, 135, 135, 0.25);
    padding-bottom: 0.5rem;
    height: fit-content;
    overflow: hidden;
}
.container h3{
    color: #696767;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.9rem;
}
.dropDown {
    display: none;
    width: fit-content;
    position:absolute;
    background-color: #fff;
    z-index: 1;
    border-radius: 4px;
    padding: 6px;
    padding-top: 9px;
    padding-left: 7px;
    width: 9rem;
    text-align: start;
    border-top-right-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .dropDown.active{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }