.Loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure it takes the full height of the parent */
    width: 100%; /* Ensure it takes the full width of the parent */
  }
  
  .Spinner {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 3px solid #3498db; /* Choose a color that fits your theme */
    width: 30px; /* Smaller spinner */
    height: 30px;
    animation: spin 1s ease-in-out infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .LoadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  