
.container > button:first-child{
    background-color: var(--styling1);
    border: none;
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 105%;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
}
.container form{
    background-color: white;
    box-shadow: 0 0px 8px 0.5px rgba(141, 135, 135, 0.25);
  width: 100%;
  max-width: 80rem;
  border-radius: 20px;
}
.container form > div{
    padding: 2rem;
}
.container .closeBtn{
    display: none;
}
.container form h3{
    font-family: Graphik;
    color:#fff;
    text-align: left;
    padding: 1rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--styling1);
}
.container form label:first-of-type{
    margin-top: 8px;
}
.container form label{
     font-family: GraphikLight;
    display: inline-block;
    margin: 20px 0 3px 0;
    color: #6B6C6D;
  
}

.container form > .fields{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "first first first  second second second"
    "third third third fourth fourth fourth"
    "fifth fifth fifth sixth sixth sixth"
    " seventh seventh seventh eighth eighth eighth"
    "tenth tenth tenth elevth elevth elevth"
    ". . . . . ninth"
    ;
    gap: 1rem;
    column-gap: 2rem;
}
.container form input,.container form select{
border: 1px solid #6B6C6D;
border-radius: 7px;
padding-left: 0.5rem;
height: 2.5rem;
width: 100%;
overflow: hidden;
font-size: 110%;
font-family: GraphikThin;
color:#6B6C6D;
}
.container form select{
    padding-left: 0;
}
.container form span:first-of-type{
    grid-area: first;
}
.container form span:nth-of-type(2){
    grid-area: second;
}
.container form span:nth-of-type(3){
    grid-area: third;
}
.container form span:nth-of-type(4){
    grid-area: fourth;
}
.container form span:nth-of-type(5){
    grid-area: fifth;
}
.container form span:nth-of-type(6){
    grid-area: sixth;
}
.container form span:nth-of-type(7){
    grid-area: seventh;
}
.container form span:nth-of-type(8){
    grid-area: eighth;
}
.container form span:nth-of-type(9){
    grid-area: tenth;
}
.container form span:nth-of-type(10){
    grid-area: elevth;
}
.container form .fields div{
    grid-area: ninth;
}
.container form select{
    font-size: 100%;
}
.container form textarea{
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: GraphikThin;
color:#6B6C6D;
overflow: auto;
height: 6rem !important;
width: 100% !important;
    padding: 0.3rem 0.5rem;
    border-radius: 9px;
}
.container input::placeholder{
    color:#6B6C6D;
    font-family: GraphikThin;
    font-size: medium;
}

.container .star{
    color: red;
}
.container form select option{
   
}
.container form  .errorText{
color:red;
font-size: small;
font-family: GraphikLight;
margin-bottom: 0;
}
.container .button{
    text-align: end;
    grid-column-start: 2;
grid-column-end: 3;
}
.container form button{
    background-color:var(--styling1) ;
    color: white;
    margin: 40px 0 20px 0;
    border: 1px solid #6B6C6D;
    border-radius: 7px;
width: 9rem;
height: 2.2rem;
font-family: Graphik;
cursor: pointer;
}
.container form button:hover{
    color:var(--styling1);
    background-color: white;
}
.container form .button p{
    color: #6B6C6D;
    font-family: GraphikThin;
    font-size: 80%;
}
.container form .button a{
    color:var(--styling1);
    font-size: 100%;
}
.container form button:disabled{
    background-color: #B8BFC6;
    color: white;
    border: none;
    
    }
.container form button:disabled:hover{
      background-color: #B8BFC6;
      border: none;
      box-shadow: none;
      cursor: not-allowed;
    }
@media (max-width:900px) {
        .container form > .fields{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "first first first  second second second"
            "third third third fourth fourth fourth"
            "fifth fifth fifth sixth sixth sixth"
            "seventh seventh seventh eighth eighth eighth  "
            "tenth tenth tenth elevth elevth elevth"
            ". . . . . ninth"
            ;
            gap: 1rem;
            column-gap: 2rem;
        } }
@media (max-width:650px) or (max-height:650px){
    .container{
        padding-top: 0;
    }

    .container form{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        box-shadow: none;
    }
    .container form > .fields{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "first first first first first first"
        "second second second second second second "
        "third third third third third third"
        "fourth fourth fourth fourth fourth fourth"
        "fifth fifth fifth fifth fifth fifth"
        "sixth sixth sixth  sixth sixth sixth "
        "seventh seventh seventh seventh seventh seventh"
        "eighth eighth eighth eighth eighth eighth"
        "tenth tenth tenth tenth tenth tenth "
        "elevth elevth elevth elevth elevth elevth"
        ". . . . . ninth"
        ;
        gap: 1rem;
        column-gap: 2rem;
    }
    .container .closeBtn{
        border: none;
        display: block;
        background: none;
        width: fit-content;
        height: fit-content;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 90%;
        top: 3%;
    }
    .container .closeBtn img{
 
        width:1rem;
        height: 1rem;
        
    }
    .container form h3{
        font-size: 120%;
        border-radius: 0;
    }
    .container form label{
        font-size: 120%;
    }
    .container form input,.container form select{
        height: 2.4rem;

    }
  .container form select{
    font-size: 120%;
  }
    .container form input::placeholder{
        font-size: 110%;
    }
    .container form button{
        width: 8rem;
        height: 2.7rem;
     
        font-size: 120%;
    }
}

