
.mainContainer{
   display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    width: 100%;
    padding: 2.4rem 2.4rem 0rem;
}
.secondaryContainer *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
.secondaryContainer{
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    background-clip: content-box;
    box-sizing: border-box;
}
.sideContainer{
    border: 1px solid #d1d7dc;
    border-right: 0;
    max-width: 20rem;
    width: 20%;
}
.sideContainer div:first-of-type{
    padding: 1rem;
}
.sideContainer img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-bottom: 0.8rem;
}
.sideContainer ul{
    padding: 1rem 0;
    list-style: none;
text-align: left;

}
.sideContainer ul li{
    
    padding: 0.5rem 1rem;
    font-family: GraphikLight;
    font-size: 105%;

}
.rightContainer{
    border: 1px solid #d1d7dc;
    flex: 1;
    min-width: 1px;
}
.rightContainer .header{
    text-align: center;
    border-bottom: 1px solid #d1d7dc;
    padding: 1.1rem 0;
}
.rightContainer .header h3{
    font-size: 24px;
    font-family: Graphik;
    padding-bottom: 4px;
}
.rightContainer .header p{
   color:#595d61;
}
.rightContainer .body{
    min-height: 30rem;
    padding: 0.6rem;
}
.activeLink{
    background-color: var(--secondary);
}
.speciality{
    width: 100%;
    max-width: 1400px;
    padding: 1rem 1rem;
    background-color: #fff;
}
@media (max-width:850px) {
    .secondaryContainer{
        padding: 2.5rem 1rem;
    }

}
@media (max-width:650px) {
    .mainContainer{
        padding: 0;
    }
    .secondaryContainer{
        display: block;
        padding: 0px 0px;
        margin-bottom: 10px;
    }
    .sideContainer{
        border: none;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .sideContainer > div > h3{
        font-size: 1.3rem;
    }
    .sideContainer ul{
      text-align: start;
    }
  
   
}