.styledtable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styledtable thead tr {
    background-color: var(--styling1);
    color: #ffffff;
    text-align: left;
}
.styledtable th,
.styledtable td {
    padding: 12px 15px;
}
.styledtable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styledtable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styledtable tbody tr:last-of-type {
    border-bottom: 2px solid var(--styling1);
}
.add{
    cursor: pointer;
    margin-top: 0.8rem;
}
.add p{
    color:#4A8BDF;
    font-family: GraphikLight; 
    display: inline-block;
 }
  .add img{
     vertical-align:middle;
     margin-right: 0.5rem!important;
     width: 2rem;
     height: 2rem;
 }
 .add:hover p{
     text-decoration: underline;
 }