.main{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main div .form{
    height: 30rem;
}
.main  .backDrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    background: rgba(119, 117, 117,0.5);
  }
.main .addUniversity{
    width: 30%;
    max-width: 22rem;
}
.main .addUniversityButton{
    display: none;
}
.universities{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 1200px;
}

 .searchBar{
    display: flex;
    align-items: center;
  } 
.universities .searchBar div{
    border:1px solid #ABA7A7 ;
    height: 2rem;
    display: grid;
    align-items: center;
    border-right: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  .universities .searchBar img{
    width: 1.3rem;
    height: 1.3rem;
  }
  .universities  input{
    height: 2rem;
    border-radius: 10px;
    border-color: #ABA7A7;
    border-width: 1px;
    background-size: 1.2rem;
    background-position: center left 5px;
border-left:none;
border-top-left-radius:0 ;
border-bottom-left-radius: 0;
width: 20rem;
box-shadow:none;
  }
 .universities input:focus{
    outline: none;
  }
.universities ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
.universities li{
    margin-top: 1rem;
    display: flex;
background: #fff;
padding: 0.5rem;
align-items:center;
border-radius: 20px;
max-width: 1600px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.universities li p{
    margin-top: 0;
}
.universities li img{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    margin-left: 2rem;
}
.universities p, .universities span{
    font-family: Graphik;
    margin-top: 1.3rem;
    display: inline-block;
}
.universities span{
    color: #6B6C6D;
    margin-left: 6px;
    font-family: GraphikLight;
}
.universities span:nth-of-type(2){
    margin-top: 6px;
    margin-left: 0;
}
@media (max-width:720px) {
    .main{
        margin-left: 0;
        padding: 0;
    }
    .main   .addUniversityButton{
        position: fixed;
      width: 65px;
      height: 65px;
      background-color: #4D59CA;
      border: none;
      border-radius: 50%;
      right: 15px;
     bottom: 20px;
      margin: auto;
      color: white;
      line-height: 65px;
      text-align: center;
      font-size: 23px;
      z-index: 9;
      box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    display: inline-block;
    }
    .main .addUniversityButton:hover{
        color: #4D59CA;
        background-color: white;
        border:1px solid #4D59CA;
    }
    .main .addUniversity{
        display: none;
    }
    .main .addUniversity.active{
        display:block;
        position: fixed;
        z-index: 15;
        width: 100vw;
        border-radius: 10rem;
        left: 50%;
        top: 45%;
        transform: translate(-50%,-50%);
        max-width: 100vw;
        padding:0 3rem 0 3rem;
    }
   .universities{
    padding:0rem  1rem 0 1rem;
   }
    .universities ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .universities ul li{
        width: 100%;
    }
}
@media (max-width:400px) {
    .main .addUniversity.active{
        padding:0 1rem 0 1rem;
    }
}